body {
    font-family: Arial, sans-serif;
  
  }
  .app {
    position: relative;
    z-index: 1;
    min-height: 100vh;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: end;
    height: 80vh;
    margin: 0;
  }

  /* Background container pinned to viewport */
.bg-illustration {
  position: fixed;
  inset: 0;            /* top:0 right:0 bottom:0 left:0 */
  z-index: 0;
  pointer-events: none; /* clicks go through */
  overflow: hidden;
}

/* Make the SVG cover the screen nicely */
.bg-illustration svg {
  width: 100vw;
  height: 100vh;
  display: block;
  object-fit: cover;    /* preserve viewBox nicely */
}
  .calculator {
    background-color: #fff;

    width: 85%;
    padding: 4rem 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 5rem;
  }

  .calculator h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    color: rgb(103, 102, 102);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  input, select, button {
    margin: 10px;
    padding: 12px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid rgb(190, 186, 186);
    cursor: pointer;
    outline: none;
    font-weight: bold;
    color: rgb(103, 102, 102);
  }
  button {
    background-color: #70E697;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    padding: 12px;
    font-size: 16px;
  }
  button:hover {
    background-color: #60f968;
  }
  #result {
    font-weight: bold;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(103, 102, 102);
  }
  #result span {
    color: #70E697;
  }
 